In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
cc=pd.read_csv('creditcard.csv')

In [6]:
cc.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
cc.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
cc['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
legit=cc[cc.Class==0]
fradulent=cc[cc.Class==1]

In [10]:
legit.shape

(284315, 31)

In [11]:
fradulent.shape

(492, 31)

In [12]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
fradulent.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [14]:
cc.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
legit_sample=legit.sample(n=492)

In [16]:
df=pd.concat([legit_sample,fradulent],axis=0)

In [17]:
df['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [19]:
X=df.drop(columns='Class',axis=1)
Y=df['Class']

In [20]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
87761    61825.0 -2.650888  2.490703 -0.814774 -0.067809  0.191620  0.854331
123282   76869.0  1.080407 -0.210580  1.334667  0.740057 -0.890179  0.390783
134677   80913.0 -3.407511  0.419610  0.236528  1.211907 -1.662736 -0.188036
275474  166550.0 -0.745724 -0.193257  1.245986  0.093942  0.815520 -0.943372
257484  158188.0 -0.047970  1.213625 -0.864515 -0.064254  0.366945 -1.259761
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
87761  -0.770243  2.166541 -1.565735  ... -0.421994  0.248777  0.246099
123282 -0.758521  0.310692  0.559601  ... -0.086824  0.008377  0.244389
134677 -1.220702  1.276560  0.668389  ... -0.387712  0.065389  0.461548
275474 -0.219173 -0.149823  0.908619  ...  0.001114  0.084805  0.546622
257484  0.836798  0.053728 -0.434319  ... -0.089957  0.384726  1.114942
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
87761  -0.073601 -1.134717  0.252018  0.499159 -0.586954 -0.139812    0.76
123282  0.065846  0.289692  0.145180  0.313902  0.033750  0.017241    9.53
134677 -0.220054  0.520178 -1.179666  0.206073 -0.635245 -0.759780   11.50
275474  0.005665 -0.102555 -1.154616 -0.528665  0.035917  0.117900   12.17
257484 -0.058729 -0.052473 -0.304607 -0.154959 -0.004226  0.043179   42.81
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [21]:
print(Y)

87761     0
123282    0
134677    0
275474    0
257484    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [22]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [23]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [24]:
model=LogisticRegression()

In [25]:
model.fit(X_train,Y_train)

LogisticRegression()

In [28]:
X_train_predi=model.predict(X_train)

In [30]:
train_accuracy=accuracy_score(X_train_predi,Y_train)
print(train_accuracy)

0.940279542566709

In [31]:
X_test_predi=model.predict(X_test)
test_accuracy=accuracy_score(X_test_predi,Y_test)
print(test_accuracy)

0.9289340101522843